body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;

}

.bold {
    font-size: 35px;
    font-weight: 900;
}

.link-button {
    text-decoration: none;
    background-color: rgb(226, 69, 95);
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    background-image: linear-gradient(orange rgb(226, 69, 95));
    font-weight: 500;
}


.first-part {
    background-image: url(images/1st-picture.jpg);
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding-right: 500px;
    padding-left: 250px;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-left: 300px;
    margin-bottom: 100px;
}

.center-text {
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;

}

section {
    display: flex;

}

.taka-box {
    padding: 1%;
    background-color: gainsboro;
    color: rgb(87, 81, 81);
    margin-left: 2%;
}

.taka-container {
    padding-left: 20%;
    padding-bottom: 2%;
}

.most-used {
    border: 2px solid red;
    color: rgb(163, 68, 84);
    background-color: pink;
}

.input {

    border: 0;
    padding: 0 33%;
    margin-left: 12%;

}

.button-two {
    padding: 3% 0 2% 45%;
}

hr {
    color: gray;
    height: 2px;
    background-color: gray;
    margin: 0 20%;
}

.help-box {
    border-radius: 10px;
    padding: 2% 1%;
    margin: 3%;
    box-shadow: 10px 10px 40px gray;
    text-align: center;
}

#medicine {
    background-color: rgb(235, 217, 220);
}

#tv {
    background-color: rgb(216, 248, 248);
}

#water {
    background-color: rgb(247, 247, 194);
}

footer {
    text-align: center;
    background-color: black;
    padding: 2% 5% 5% 5%;
}

#footer-first-line {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(219, 3, 3, 0.92);
    margin-bottom: .5%;
}

span {
    color: whitesmoke;
    font-size: 10px;
}

#email-input {

    border: 0;

    height: 50px;
    width: 950px;
    margin-left: 0%;
    background-color: rgb(203, 195, 195);
}

#suscribe-button {
    text-decoration: none;
    background-color: rgb(226, 69, 95);
    background-image: linear-gradient(orange rgb(226, 69, 95));
    color: white;
    font-size: 20px;
    border: 0;
    padding: 0%;
    padding-bottom: 25%;
    height: 50px;
    width: 200px;
    margin-left: 0%;
}

#email-part {
    display: flex;
    border: 100px solid cornsilk;
    margin: 5% 10% 5% 10%;
}